@page
@model WebshopProject.Pages.CartModel
@{
    float PriceSum = 0;
    Math.Round(PriceSum, 2);
}
<h3>Cart filled with goodies</h3>

@foreach (var prod in Model.Cart)
            {  
<tr>
    <td>@prod.title</td>
    <td>
        <a>@prod.price kr</a>
        <br />
    </td>
</tr>
    PriceSum += prod.price;
}

<h3>Totala priset är @PriceSum kr</h3>