@page
@model WebshopProject.Pages.CartModel
@{
    float PriceSum = 0;
    Math.Round(PriceSum, 2);
}
<h3 style="font-size: 100px">Cart</h3>

@foreach (var prod in Model.Cart)
            {  
<tr>
    <td>@prod.title</td>
    <td>
        <a>@prod.price kr</a>
        <br />
    </td>
</tr>
    PriceSum += prod.price;
}

<h3>Totala priset är @PriceSum kr</h3>

<h2>Kostnad på frakt:</h2>
<p>DHL: 39 kr</p>
<p>Postnord: Free kr</p>
<p>Express Delivery: 69 kr</p>

<a asp-page="Checkout">Checkout </a>
