@page
@model WebshopProject.Pages.Admin.ManagementModel
@{
    ViewData["Title"] = "API database";
}
<h1>@ViewData["Title"]</h1>

<!--Search-->
<form method="post">
    <input type="text" id="q" asp-for="@Model.Search" placeholder="Search for products" />
</form>

<!--Table list-->
<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
    </tr>
    @foreach (var item in Model.GetProducts)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.id)</td>
            <td>@Html.DisplayFor(modelItem => item.title)</td>
        </tr>
    }
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>